<div ng-show='loginObj.user === null'>
    <h3>Welcome to CarryMe!</h3>
    <h4>Sorry but must be logged to have access to the application.</h4>
    <a href='#/login'><button type="button" class="btn btn-success btn-lg">Login</button></a>
</div>
<div ng-show='loginObj.user != null'>
    <div ng-show='chosenCars.length === 0'>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href='#/profile'><button type="button" class="btn btn-warning btn-xs">Back to profile</button></a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-show="loginObj.user" class="pull-right" style="color:white;" href="">{{user.name}}  <button class="btn btn-danger btn-xs" ng-click="loginObj.$logout()">Logout</button></a>
            </div>
        </div>
        <h3>You don't have any selection!</h3>
    </div>
    
    <div ng-show='chosenCars.length > 0'>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href='#/profile'><button type="button" class="btn btn-warning btn-xs">Back to profile</button></a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a ng-show="loginObj.user" class="pull-right" style="color:white;" href="">{{user.name}}  <button class="btn btn-danger btn-xs" ng-click="loginObj.$logout()">Logout</button></a>
            </div>
        </div>
        <h2>Chosen cars</h2>
        <ul>
            <il ng-repeat="chosenCar in chosenCars">
                
                <div class="panel panel-success">
                      <div class="panel-heading">
                                <h3 class="panel-title">{{chosenCar.owner}}'s car</h3>
                      </div>
                      <div class="panel-body" style="color:black;">
                              <div class="row">
                                <div id="car" class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    <div class="row">
                                        <div id="origin" class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <h4 class="text-center">{{chosenCar.from}}</h4>
                                            <p class="text-center"><span class="glyphicon glyphicon-remove" style="font-size:20px;"></span></p>
                                        </div>
                                        <div id="path" class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                                            <div class="row">
                                                <div id="carImg" class="col-sm-8 col-md-6 col-lg-6">
                                                    <img src="/img/blueCar.png" class="img-responsive center-block" alt="blue car"/>
                                                </div>
                                                <div id="seats" class="col-sm-4 col-md-6 col-lg-6">
                                                    <p class="text-center">Available</p>
                                                    <p class="text-center">seats</p>
                                                    <p class="text-center">{{chosenCar.availableSeats}}/{{chosenCar.seats}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="destination" class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                            <h4 class="text-center">{{chosenCar.destination}}</h4>
                                            <p class="text-center"><span style="font-size:20px;" class="glyphicon glyphicon-flag"></span></p>
                                        </div>
                                        <div id="path-xs" class="visible-xs col-xs-12">
                                            <div class="row">
                                                <div id="carImg" class="col-xs-6">
                                                    <img src="/img/blueCar.png" class="img-responsive center-block" alt="blue car"/>
                                                </div>
                                                <div id="seats" class="col-xs-6">
                                                    <p class="text-center">Available</p>
                                                    <p class="text-center">seats</p>
                                                    <p class="text-center">{{chosenCar.availableSeats}}/{{chosenCar.seats}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dateAndPhone" class="hidden-xs col-sm-8 col-md-3 col-lg-3">
                                    <h4 class="text-center"><span class="glyphicon glyphicon-calendar"></span> {{chosenCar.date}} - {{chosenCar.time}}</h4>
                                    <h4 class="text-center"><span class="glyphicon glyphicon-earphone"></span> {{chosenCar.contactNumber}}</h4>
                                </div>
                                <div id="removeButton" class="hidden-xs col-sm-4 col-md-2 col-lg-2">
                                    <h4 class="text-center">Still interested?</h4>
                                    <p class="text-center"><button class="btn btn-danger btn-xs" ng-click="removeChoice($index,chosenCar)">No</button></p>
                                </div>

                            </div>
                            <div class="visible-xs row ">
                                <div class="col-xs-12 well well-sm">  
                                    <div id="dateAndPhone-xs" class="col-xs-8">
                                        <h4 class="text-center"><span class="glyphicon glyphicon-calendar"></span> {{chosenCar.date}} - {{chosenCar.time}}</h4>
                                        <h4 class="text-center"><span class="glyphicon glyphicon-earphone"></span> {{chosenCar.contactNumber}}</h4>
                                    </div>

                                    <div id="removeButton-xs" class="col-xs-4">
                                        <h4 class="text-center">Still interested?</h4>
                                        <p class="text-center"><button class="btn btn-danger btn-xs" ng-click="removeChoice($index,chosenCar)">No</button></p>
                                    </div>
                                </div>
                            </div>
                      </div>
                </div>
                
                

            </il>
        </ul>
    </div>
</div>