<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href='#/'><button type="button" class="btn btn-warning btn-xs">Back to index</button></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a ng-show="loginObj.user" class="pull-right" style="color:white;" href="">{{user.name}}  <button class="btn btn-danger btn-xs" ng-click="loginObj.$logout()">Logout</button></a>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" ng-show='loginObj.user === null'>
    <h3>Welcome to CarryMe!</h3>
    <h4>Sorry but must be logged to have access to the application.</h4>
    <a href='#/login'><button type="button" class="btn btn-success btn-lg">Login</button></a>
</div>

<div ng-show='loginObj.user != null' class="profile-menu">
    <div>
        <h1 align="center">Welcome to CarryMe, {{user.name}}!</h1>
        <h2 align="center">What would you like to do?</h2>
    </div>
    <div class="profile-buttons hidden-xs">
        <div class="btn-group">
              <button ng-click="menu('new-car')" type="button" class="btn btn-success btn-lg">Create a car</button>
              <button ng-click="menu('looking-for-car')" type="button" class="btn btn-success btn-lg">Look for a car</button>
              <button ng-click="menu('my-cars')" type="button" class="btn btn-success btn-lg">Manage my cars</button>
              <button ng-click="menu('chosen-cars')" type="button" class="btn btn-success btn-lg">Manage choices</button>
        </div>
    </div>
    <div class="visible-xs">
            <button ng-click="menu('new-car')" type="button" class="btn btn-success btn-lg btn-block">Create a car</button>
            <button ng-click="menu('looking-for-car')" type="button" class="btn btn-success btn-lg btn-block">Look for a car</button>
            <button ng-click="menu('my-cars')" type="button" class="btn btn-success btn-lg btn-block">Manage my cars</button>
            <button ng-click="menu('chosen-cars')" type="button" class="btn btn-success btn-lg btn-block">Manage selections</button>
    </div>
    <div>
        <br>
        <h3>Notifications:</h3>
        <div ng-show='keys.length > 0'>
            <ul>
                <il ng-repeat="notification in notifications">
                    <div ng-show='notification.notificationBad != null' class="alert alert-warning">{{notification.notificationBad}} <button class="pull-right btn btn-warning btn-xs" ng-click="removeNotification(notification)">Ok</button></div>
                    <div ng-show='notification.notificationGood != null' class="alert alert-success">{{notification.notificationGood}} <button class="pull-right btn btn-success btn-xs" ng-click="removeNotification(notification)">Ok</button></div>
                </il>
            </ul>
        </div>
        <div ng-show='keys.length === 0'>
            <p>You don't have any notification.</p>
        </div>
        <br>
    </div>
    <form class="form-signin" role="form">
        <h3 ng-hide="createMode" class="form-signin-heading">Change password:</h3>
        <input type="password" ng-model="oldPass" class="form-control" placeholder="Old password" required="">
        <input type="password" ng-model="newPass" class="form-control" placeholder="New password" required="">
        <input type="password" ng-model="newPass2" placeholder="New password" class="form-control" required="">
        <button class="btn btn-lg btn-success btn-block" ng-click="changePassword()">Change password</button>
    </form>
    <div ng-show='loginError!=null' class="alert alert-danger" role="alert">Something went wrong: {{loginError}}</div>
    <div ng-show='change!=null' class="alert alert-success" role='alert'>The password has been changed successfully</div>
</div>



